<div id="account-profile" v-cloak>
  <div class="container">
    <h1>Hello World</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Hello World</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Edit profile</a>
          <a class="btn btn-sm btn-outline-secondary account-profile-button" href="/user">View profile</a>
        </span>
      </div>

    </div>
    
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Account activity</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/dashboard/users">View activity</a>
        </span>
      </div>
    </div>
    <p>
      <% emailAddress %>
    </p>
    <hr/>
  </div>

</div>
<!-- <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %> -->
