<div id="order" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/order.less</em>, <em>assets/js/pages/dashboard/order.page.js</em>, and <em>api/controllers/dashboard/view-order.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
