<div id="settings" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/settings.less</em>, <em>assets/js/pages/dashboard/settings.page.js</em>, and <em>api/controllers/dashboard/view-settings.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
