<div id="user" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/user.less</em>, <em>assets/js/pages/dashboard/user.page.js</em>, and <em>api/controllers/dashboard/view-user.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
