<div id="view-record-user" v-cloak>
  <div class="container">
    <h1>View user info</h1>
    <hr/>
    <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameFirst">First name</label>
            <input class="form-control" id="nameFirst" name="nameFirst" type="text"  :class="[formErrors.nameFirst ? 'is-invalid' : '']" v-model.trim="formData.nameFirst" placeholder="Wilbur" autocomplete="name">
            <div class="invalid-feedback" v-if="formErrors.nameFirst">Please enter your first name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameLast">Last name</label>
            <input class="form-control" id="nameLast" name="nameLast" type="text"  :class="[formErrors.nameLast ? 'is-invalid' : '']" v-model.trim="formData.nameLast" placeholder="Kookmeyer" autocomplete="name">
            <div class="invalid-feedback" v-if="formErrors.nameLast">Please enter your last name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input class="form-control" id="emailAddress" name="emailAddress" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="Willbur.Kookmeyer@example.com" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phoneMobile">Phone mobile</label>
            <input class="form-control" id="phoneMobile" name="phoneMobile" type="tel"  :class="[formErrors.phoneMobile ? 'is-invalid' : '']" v-model.trim="formData.phoneMobile" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.phoneMobile">Please enter a valid phone mobile.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input class="form-control" id="dob" name="dob" type="date"  :class="[formErrors.dob ? 'is-invalid' : '']" v-model.trim="formData.dob" autocomplete="bday">
            <div class="invalid-feedback" v-if="formErrors.dob">Please enter a valid Date of Birth.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="gender">Gender</label>
            <div class="form-control">
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="0"> Female 
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="1"> Male   
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="2"> Other  
            </div>
            <div class="invalid-feedback" v-if="formErrors.gender">Please select a gender.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationAuthority">Identification Authority (State or Government)</label>
            <input class="form-control" id="identificationAuthority" name="identificationAuthority" type="text"  :class="[formErrors.identificationAuthority ? 'is-invalid' : '']" v-model.trim="formData.identificationAuthority">
            <div class="invalid-feedback" v-if="formErrors.identificationAuthority">Please enter a valid Authority.</div>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Has Your ID Been Verified?</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Haw Your RX Been Verified?</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Identification Number (ID #)</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError === 'emailAlreadyInUse'">There is already an account using that email address.</p>
          <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<router-view></router-view>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
