<div id="view-summary-users" v-cloak>
  <div class="container">
    <h1>Our users</h1>
    <hr/>
    <hr/>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
