<div id="email" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/account/verify/email.less</em>, <em>assets/js/pages/account/verify/email.page.js</em>, and <em>api/controllers/account/verify/view-email.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
