<div id="medical-upload" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/account/verify/medical-upload.less</em>, <em>assets/js/pages/account/verify/medical-upload.page.js</em>, and <em>api/controllers/account/verify/view-medical-upload.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
