<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Virtual Lobby</h1>
    <div class="login-form-container">
      <hr />
      <center>
      <a class="btn btn-outline-info" href="/login">Returning Guests</a><br><br>
      <a class="btn btn-outline-info" href="/signup">New Guests</a><br><br>
    </center>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>