<div id="validate-identity" v-cloak>
  <div class="container">
    <h1>My Identity</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Identification Documentation</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/validate/upload?doctype=identity">Upload ID</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Document Status:</div>
      <div class="col"><strong>{{me.verificationEmail}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Document Type:</div>
      <div class="col"><strong>{{me.verificationEmail}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Document Issuer:</div>
      <div class="col"><strong>{{me.verificationEmail}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Document Number (License):</div>
      <div class="col"><strong>{{me.verificationEmail}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">First Name:</div>
      <div class="col"><strong>{{me.nameFirst}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Last Name:</div>
      <div class="col"><strong>{{me.nameFirst}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">DOB:</div>
        <div class="col"><strong>{{me.birthday}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Verified:</div>
        <div class="col"><strong>{{me.verification}}</strong></div>
    </div>
    <hr/>
    <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameFirst">First name</label>
            <input class="form-control" id="nameFirst" name="nameFirst" type="text"  :class="[formErrors.nameFirst ? 'is-invalid' : '']" v-model.trim="formData.nameFirst" placeholder="Wilbur" autocomplete="name">
            <div class="invalid-feedback" v-if="formErrors.nameFirst">Please enter your first name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameLast">Last name</label>
            <input class="form-control" id="nameLast" name="nameLast" type="text"  :class="[formErrors.nameLast ? 'is-invalid' : '']" v-model.trim="formData.nameLast" placeholder="Kookmeyer" autocomplete="name">
            <div class="invalid-feedback" v-if="formErrors.nameLast">Please enter your last name.</div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="phoneMobile">Phone mobile</label>
            <input class="form-control" id="phoneMobile" name="phoneMobile" type="tel"  :class="[formErrors.phoneMobile ? 'is-invalid' : '']" v-model.trim="formData.phoneMobile" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.phoneMobile">Please enter a valid phone mobile.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input class="form-control" id="dob" name="dob" type="date"  :class="[formErrors.dob ? 'is-invalid' : '']" v-model.trim="formData.dob" autocomplete="bday">
            <div class="invalid-feedback" v-if="formErrors.dob">Please enter a valid Date of Birth.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="gender">Gender</label>
            <div class="form-control">
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="0"> Female 
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="1"> Male   
            <input id="gender" name="gender" type="radio"  :class="[formErrors.gender ? 'is-invalid' : '']" v-model.trim="formData.gender" autocomplete="sex" value="2"> Other  
            </div>
            <div class="invalid-feedback" v-if="formErrors.gender">Please select a gender.</div>
          </div>
        </div>

        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Has Your ID Been Verified?</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Haw Your RX Been Verified?</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="identificationNumber">Identification Number (ID #)</label>
            <input class="form-control" id="identificationNumber" name="identificationNumber" type="text"  :class="[formErrors.identificationNumber ? 'is-invalid' : '']"  v-model.trim="formData.identificationNumber">
            <div class="invalid-feedback" v-if="formErrors.identificationNumber">Please enter a valid ID number.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError === 'emailAlreadyInUse'">There is already an account using that email address.</p>
          <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>

    <hr/>
    <div class="row mb-3" v-if="isBillingEnabled">
      <div class="col-sm-6">
        <h4>Billing</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <ajax-button :syncing="syncingOpenCheckout || syncingUpdateCard" class="btn btn-sm btn-outline-info account-settings-button" @click="clickStripeCheckoutButton()">
            <span slot="syncing-state">
              <span v-if="syncingOpenCheckout">Connecting...</span>
              <span v-else>Updating...</span>
            </span>
            <span slot="default">{{ me.hasBillingCard ? 'Change card' : 'Add card' }}</span>
          </ajax-button>
        </span>
      </div>
    </div>
    <div v-if="isBillingEnabled && me.hasBillingCard">
      <div class="row">
        <div class="col-3">Credit card:</div>
        <div class="col">{{me.billingCardBrand}} ending in <strong>{{me.billingCardLast4}}</strong> <a class="remove-button ml-2" @click="clickRemoveCardButton()">Remove</a></div>
      </div>
      <div class="row">
        <div class="col-3">Expiration:</div>
        <div class="col">{{me.billingCardExpMonth}}/{{me.billingCardExpYear}}</div>
      </div>
    </div>
    <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
      There was an error updating your credit card information. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.
    </div>
    <div class="alert alert-secondary" v-else-if="isBillingEnabled">
      You have not linked a payment source to your account. In order to access paid features, you'll need to provide your credit card information. (Don't worry: you will only be charged when you've reached the limit of your free plan.)
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
