<div id="upload" v-cloak>
  <div class="container">
    <h1>Validate Upload</h1>
    <hr/>
    <div class="row mb-3">
        <div class="col-sm-6">
            <h4>Select File</h4>
            <div class="buttons">
                <input class="btn" type="file" name="docName" placeholder="c:\temp\all-your-base.yml">
              </div>
          </div>      
          <div class="col-sm-6">
              <h4>Select Type</h4>
              <div class="buttons">
                  <div>
                    <input type="radio" id="identification" name="docType" value="identification"
                           checked>
                    <label for="Identification">Identification</label>
                  </div>
                  
                  <div>
                    <input type="radio" id="medical" name="docType" value="medical">
                    <label for="Medical">Medical</label>
                  </div>
                  
                  <div>
                    <input type="radio" id="vendor" name="docType" value="vendor">
                    <label for="louie">Vendor</label>
                  </div>
                    <span class="float-sm-right">
                        <input class="btn btn-sm btn-outline-info account-settings-button" type="submit" name="docReset" title="Reset" value="Reset">
                        <input class="btn btn-sm btn-outline-info account-settings-button" type="submit" name="docType" title="Upload" value="Upload">
                    </span>
                </div>
            </div>
    </div>
    

    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
